body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    user-select: none;
    font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
}

.my_but{
    margin: 5px 0 0 5px;
    color: #ffffff;
    background: rgb(180, 180, 90);
    border: 0;
    cursor: pointer;
    width: 65px;
    height: 65px;
    border-radius: 65px;
}

.dark-theme .my_but{
    background: #696868;
    color: yellow;
}

.dark-theme .primary{
    background: #3f3f3f;
    color: yellow;
}
.dark-theme .secondary{
    background: #3f3232;
}
.dark-theme .sloy{
    background: #ababab;
}
.dark-theme #result{
    background: #000;
}

.my_but:hover{
    background: rgb(95, 91, 91);
}
.primary {
    background: #537b5e;
}

.secondary {
   background: #64a560 ;
}

.execute {
    display: grid;
    grid-column: span 2 / span 2;
    place-items: center;
    width: 95%;
}

.sloy{
    border: solid 2px black;
    border-radius: 10px;
    background: #d5d5d5;
    user-select: none;
    padding: 0 8px 15px 7px;
}

@media (prefers-color-scheme: light) {
    .sloy {
        background-color: #ffffff;
    }
    .my_but {
        color: black; /* цвет текста */
    }
}

@media (prefers-color-scheme: dark) {
    .sloy {
        background-color: #444444;
    }
    .my_but {
        color: white; /* цвет текста */
    }
}
#result{
    width: 210px;
    height: 40px;
    margin: 15px 0px 10px 20px;
    padding: 5px 5px 0 0;
    background: #656565;
    color: white;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
}
.LR{
    color: rgb(196, 0, 173);
    font-size: 12px;

}
.link{
    color: black;
    text-decoration: none;
    color: white;

}
.detail{
    background: #444444;
    color: white;
    border: none;
}

.ans{
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
body{
    background-image: url(111.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.calc
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#btn_op_three_zero{
    display: grid;
    grid-column: 2 / 4 ;
    width: 100%;
    place-items: center;
}
#theme-toggle{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    background-image: url(dark-mode.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
}
#info{
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;

}
summary {
    list-style: none;
}

#github{
    color: lightgreen;
    text-decoration: none;
}
